.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	box-shadow: 5px 4px 18px rgba(0,0,0,0.4);
	transition: all 500ms ease-out;
	cursor: default;

}
.card:hover{
	box-shadow: 15px 15px 20px rgba(0,0,0,0.50);
	transform: translateY(-3%);
	
}

.bar_progres {
	height: auto;
	font-size: 5rem;
	font-weight: bold;
	color: black;
	animation-timing-function:     400s linear infinite;
	background-color: blueviolet;
}

#imagenes-carousel .carousel-item img {
    max-height: 80vh;
    object-fit: cover;
    filter: grayscale(20%);
}


#carousel {
	position: relative;
}
#carousel .overlay  {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;

}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;   
}

.text-section {
	margin: 10px;
	
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem; 	
    }
}